.tab-bar > ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 15px;
  overflow: hidden;
  background-color: #820002; }
  .tab-bar > ul li {
    display: block;
    float: left;
    background: #820002;
    color: white;
    border-right: 5px solid #820002; }
  .tab-bar > ul li:first-child {
    border-left: 5px solid #820002; }
  .tab-bar > ul li:last-child {
    border-right: 5px solid #820002; }
  .tab-bar > ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Space Mono", monospace; }
  .tab-bar > ul li a:hover {
    background: #D1343A;
    color: white; }
  .tab-bar > ul li.activeTab {
    background: white;
    color: #820002; }
    .tab-bar > ul li.activeTab a {
      color: #820002; }
    .tab-bar > ul li.activeTab a:hover {
      background: white;
      color: #820002; }
