.family {
	
	display: flex;
	justify-content: center;
	align-content: center;
	
	background: lightcoral;
	
	padding: 10px;
	border-radius: 20px;
	
	color: black;
	
}

.parents {
	
	display: flex;
	justify-content: center;
	align-content: center;
	
	background: lightgoldenrodyellow;
}

.person {
	background: lightcyan;
	margin: 15px;
}

