<dh-pane title=".directive()">
	<dh-zone zone-label="Directives">
		
		<dh-zone-example>
			<dh-zone-note>
				
				<p>Directives are markers on a DOM element that tell AngularJS' HTML compiler ($compile) to attach specified behavior to that DOM element or even transform the element and its children.
				</p>
				
				<p>
					For AngularJS, "compilation" means attaching directives to the HTML to make it interactive. It is a recursive process similar to that of compiling programming languages.
				</p>
				
				<p>
					Angular goes through a process of normalizing an element's tag and attribute names when trying to match elements with directives. The process is as follows: (1) Strip the x- and data- from the front of the element/attributes, (2) Convert the :, - or _ delimited name to camelCase.
				</p>
			</dh-zone-note>
			
			<div ng-controller="DirectivesController">
				
				<div class="io-bar">
					<label>
						Drink:
						<input ng-model="drink"> (try Coke)
					</label>
				</div>
				
				<span ng-if="drink">I'd like to teach the world to sing in perfect harmony. I'd like to buy the world a <span class="highlightTerm" ng-bind="drink"></span> and keep it company.</span>
				
				<!--<div-->
						<!--ng-if="drink.toLowerCase() === 'coke' || drink.toLowerCase() === 'cocacola' || drink.toLowerCase() === 'coca-cola'" class="flex-container-center">-->
					<!--<iframe class="video-frame" width="560" height="315" src="https://www.youtube.com/embed/1VM2eLhvsSM?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>-->
				<!--</div>-->
				
			</div>
			
		</dh-zone-example>
		
		<dh-zone-example>
			
			<dh-zone-note>
				<p>
					Use an element when creating a component that is in control of the template.
					Use an attribute when you are decorating an existing element with new functionality.
				</p>
			</dh-zone-note>
			
			<div ng-controller="SimpleDirectiveController">
				<p>
					The following two sentences are created by using a directive as an element tag and as an attribute.
				</p>
				<dh-customer></dh-customer>
			</div>
			
			<dh-zone-note>
				<p>
					Without an isolate scope, this simple directive needs a new controller every time to be able to display different data:
				</p>
			</dh-zone-note>
			
			<div ng-controller="BeyonceController">
				<dh-customer></dh-customer>
			</div>
			
			<div ng-controller="KellyController">
				<dh-customer></dh-customer>
			</div>
			
			<div ng-controller="MichelleController">
				<dh-customer></dh-customer>
			</div>
			
			<div class="image-frame">
				<figure>
					<img src="topics/directives/assets/bad.png">
					<figcaption>That's not right! You can do better...</figcaption>
				</figure>
			</div>
			
			<div ng-controller="SimpleDirectiveController">
				
				<dh-better-customer info="bey"></dh-better-customer>
				<br>
				<dh-better-customer info="key"></dh-better-customer>
				<br>
				<dh-better-customer info="mey"></dh-better-customer>
				
				<div class="image-frame">
					<figure>
						<img src="topics/directives/assets/walk.gif">
						<figcaption>*drums* Hit me!</figcaption>
					</figure>
				</div>
				
				<div class="image-frame">
					<figure>
						<img src="topics/directives/assets/good.gif">
						<figcaption>That's better!</figcaption>
					</figure>
				</div>
				
				<dh-zone-note>
					<p>
						The value =attr of the properties of the scope option object are normalized just like the names of directives.
					</p>
				</dh-zone-note>
				
			</div>
			
		</dh-zone-example>
		
		<dh-zone-example>
			
			<p>Test</p>
			
			<div class="io-bar" ng-controller="SimpleDirectiveController">
				<label>
					<span>Date format:</span>
					<input ng-model="format">
				</label>
			</div>
			
			<span>Current time is: <span dh-current-time="format"></span></span>
			<span>Current time is: <span dh-current-time="format"></span></span>
			<span>Current time is: <span dh-current-time="format"></span></span>
			
			<dh-zone-note>
				<p>
					Directives should always clean up after themselves!
					Use element.on("$destroy", ...) or scope.on("$destroy", ...) to run a clean up function.
				</p>
			</dh-zone-note>
			
		</dh-zone-example>
		
	</dh-zone>
</dh-pane>