@import "../../../common/styles/constants";

$zone-label-font-size: 30px;
$zone-example-font-size: 20px;
$zone-warning-font-size: 15px;

.zone {

	margin-top: $standard-margin;
	padding: $standard-padding;
	border: solid $standard-border-size $red-wine;

	font-family: $oswald;
	font-size: $zone-example-font-size;

	hr {
		
		display: block;
		margin: $standard-margin auto;
		border: inset $red-wine;
	
	}

	input {

		height: 100%;
		padding: 0 10px;

		color: black;
		background: white;

		outline: none;
	}

}

.zone-label {

	font-family: $racing-sans-one;
	color: $red-wine;
	font-size: $zone-label-font-size;

}

.zone-example {

	color: white;
	background: $cherry-wine;

	padding: $standard-padding;
	margin: 10px 0;

	div {

		margin: 10px 0;

	}

	p, span {
		margin-top: 10px;
		line-height: 35px;
	}

}

.zone-example-note {

	background: #DE8585;
	padding: $standard-padding;
	margin: 15px 0;
	font-size: $zone-example-font-size;

	color: black;

}

.zone-warning {
	font-size: $zone-example-font-size * 0.85;
	line-height: 25px;

	i {
		font-size: $zone-example-font-size * 1.2;
	}
}