$space-mono: "Space Mono", monospace;
$racing-sans-one: "Racing Sans One", cursive;
$roboto: "Roboto", sans-serif;
$oswald: "Oswald", sans-serif;

$standard-padding: 15px;
$standard-margin: 15px;
$standard-border-size: 5px;

$banner-font-size: 50px;

$red-wine: #820002;
$cherry-wine: #D1343A;