$space-mono: "Space Mono", monospace;
$racing-sans-one: "Racing Sans One", cursive;
$roboto: "Roboto", sans-serif;
$oswald: "Oswald", sans-serif;

$standard-padding: 15px;
$banner-font-size: 50px;
$zone-label-font-size: 30px;
$zone-example-font-size: 20px;
$zone-warning-font-size: 15px;

$red-wine: #820002;
$cherry-wine: #D1343A;