<!DOCTYPE html>
<html lang="en" ng-app="app" ng-cloak="">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Push Recipe Test UI</title>
		
		<link href="https://fonts.googleapis.com/css?family=Oswald|Racing+Sans+One|Roboto|Space+Mono:400,700|Work+Sans:500" rel="stylesheet">
		
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		      rel="stylesheet">
		
		<!-- bower:js-->
		<script src="lib/angular/angular.js"></script>
		<script src="lib/jquery/dist/jquery.js"></script>
		<script src="lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="lib/angular-animate/angular-animate.js"></script>
		<!-- endbower -->
		
		<!-- bower:css -->
		<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
		<!-- endbower -->
		
		<!-- inject:css -->
		<link rel="stylesheet" href="dist/styles/animation.css">
		<link rel="stylesheet" href="dist/styles/main.css">
		<!-- endinject -->
		
	</head>
	<body>
		<div class="container" ng-controller="MainController">
			
			<h1 class="area-label">NG-1</h1>
			
			<my-tabs>
				
				<my-pane title="ng-controller">
					<zone zone-label="Controllers">
						
						<div ng-controller="GreetingController" class="zone-example">
							{{greeting}}
						</div>
						
						<div ng-controller="DoubleController" class="zone-example">
							Two times
							<input ng-model="num" class="sentence-input">
							equals {{double(num)}}.
						</div>
						
						<div ng-controller="SpicyController" class="zone-example">
							
							<div class="io-bar">
								<input ng-model="customSpice" class="first-ui-element">
								<button ng-click="setCustomSpice(customSpice)">Custom Spice</button>
								<button ng-click="chiliSpicy()">Chili</button>
								<button ng-click="jalapenoSpicy()">Jalapeño</button>
							</div>
							
							<p>The food is {{spice}} spicy!</p>
						
						
						</div>
					
					</zone>
				</my-pane>
				
				<my-pane title=".component()">
					<zone zone-label="Components">
						
						<zone-warning>
							When using Components, camelCasing used in the name of the component or in the name of its bindings translates into camel-casing in the markup and attributes.
							<br>
							.component("editableField", {bindings: {fieldTitle: "<"}}) ->
							&lteditable-field field-title=""&gt
						</zone-warning>
						
						<zone-example>
							
							<p class="first-p"><b>Hero</b></p>
							<hero hero="Superman"></hero>
							
							<zone-example-note>
								&lthero&gt is a simple component. Its attribute receives a string.
							</zone-example-note>
						
						</zone-example>
						
						<zone-example>
							<p class="first">This is mainHero.vMainController:
								<br>
								{{mainHero}}
							</p>
							<p></p>
							<editable-field
									field-value="mainHero"
									field-type="This is the Test type"
							>
							</editable-field>
							
							<zone-example-note>
								This block uses the component &lteditable-field&gt. mainHero is passed through its field-value attribute. field-value has a one-way binding, &lt. The changes made to mainHero in the component do not reflect back to MainController.
							</zone-example-note>
						
						</zone-example>
						
						<zone-example>
							<p>
								This is hero1.vMainController:
								<br>
								{{hero1}}
							</p>
							
							<hero-detail hero="hero1"></hero-detail>
						</zone-example>
						
						<zone-example>
							<zone-example-note>
								The list of heroes resides in the &lthero-list&gt controller.
								<br>
								Data is sent from parent to descendant component, one way, through the binding. Component modifies data and sends it back to parent.
								<br>
								Parent determines what to do with the modified data (further modify it, apply it to the model, etc).
								<br>
								For example: Use "Seattle" as the Location. The &lteditable-field&gt component first records the change to "Seattle". However, it doesn' change the &lthero-detail&gt; model. Through an event, it sends "Seattle" up to &lthero-detail&gt;. &lthero-detail&gt; controller has business logic that modifies the location to "Starbucks City". &lthero-detail&gt; sends that up to the list component. The list component has no idea that the location was ever "Seattle". It receives "Starbucks City". &lt;hero-list&gt; applies the change to its model - the highest structure to hold the list data. The upward cascading of data through events stops there.
							</zone-example-note>
							<hero-list></hero-list>
						</zone-example>
						
						<zone-example>
							
							<zone-example-note>
								Directives can require the controllers of other directives to enable cross-directive communication. This is achieved through the <b>require</b> property which creates an object mapping between a property key (local required controller name) and property value (name of component with the required controllers)
								<br>
								Note that the required controllers will not be available during the instantiation of the controller, but they are guaranteed to be available just before the $onInit method is executed!
							</zone-example-note>
							
							<br>
							
							The navigation bar on this page uses this component configuration to achieve a single page application architecture.
						
						</zone-example>
					
					</zone>
				</my-pane>
				
				<my-pane title=".service()">
					<zone zone-label="Services">
						<zone-example>
							<div ng-controller="ServiceSampleController">
								
								<div class="io-bar">
									<input ng-model="message" >
									<button
											class="bang-button"
											ng-click="callNotify(message);">
										NOTIFY
									</button>
								</div>
								
								<p>Let's try this simple notify service, injected into the controller...</p>
								
								<p>(you have to click 3 times to see an alert)</p>
								
								
							</div>
						</zone-example>
					</zone>
				</my-pane>
				
				<my-pane title="ngAnimate">
					<zone zone-label="Animations">
						<zone-example>
							<div id="simple"
							     ng-controller="AnimatedServiceSampleController">
								<p>Let's try this animated notify service, injected into the controller...</p>
								<p>Click 3 times.</p>
								<!-- Chant Buttons bar -->
								<div class="io-bar"
								     ng-if="showChantButtons">
									<button
											class="bang-button"
											ng-click="callNotify('Bloody Mary');">
										BLOODY MARY
									</button>
									<button
											class="bang-button"
											ng-click="callNotify('Thunder');">
										THUNDER
									</button>
									<button
											class="bang-button"
											ng-click="callNotify('Bettlejuice');">
										BEETLEJUICE
									</button>
								</div>
								<!-- Reset Button bar-->
								<div class="io-bar"
								     ng-if="!showChantButtons">
									<button
											class="bang-button"
											ng-click="reset();">
										RESET
									</button>
								</div>
								
								<div class="io-bar">
									<button class="chant-button repeated-item"
									        ng-repeat="chant in ritual.chants track by $index">
										{{chant}}
									</button>
								</div>
								
								<div class="ritual-result">
									<img class="riteImg sample-show-hide"
									     ng-show="showImg"
									     ng-src="{{ritual.image}}">
								</div>
							
							
							</div>
						</zone-example>
					</zone>
				
				</my-pane>
				
			</my-tabs>
			
		</div>
		
		<!-- inject:js -->
		<script src="app.js"></script>
		<script src="animations/notify.animated.service.js"></script>
		<script src="services/notify.service.js"></script>
		<script src="app.controller.js"></script>
		<script src="animations/animatedServiceSample.controller.js"></script>
		<script src="controllers/controllers.controller.js"></script>
		<script src="components/hero/hero.component.js"></script>
		<script src="components/hero_tree/editableField.component.js"></script>
		<script src="components/hero_tree/heroDetail.component.js"></script>
		<script src="components/hero_tree/heroList.component.js"></script>
		<script src="components/tab-pane/my-pane.component.js"></script>
		<script src="components/tab-pane/my-tabs.component.js"></script>
		<script src="components/zone/zone-example-note.js"></script>
		<script src="components/zone/zone-example.component.js"></script>
		<script src="components/zone/zone-warning.js"></script>
		<script src="components/zone/zone.component.js"></script>
		<!-- endinject -->
		
	</body>
</html>