@import "common/styles/reset";
@import "common/styles/constants";

body {
	
	margin: 0 $standard-margin;
	
}

.bold {
	
	color: black;
	font-weight: bolder;
	
}

.area-label {

	color: white;
	font-family: $racing-sans-one;
	font-size: $banner-font-size;

	background: $red-wine;

	padding: $standard-padding;

}

.container {
	
	display: flex;
	flex-direction: column;
}
