@import "../constants";

.bang-button:active {
	background: white;
	color: $red-wine;
	box-shadow: 5px 5px black;
}

button.chant-button {
	background: black;
}

.riteImg {
	display: block;
	margin: auto;
	height: 100%;
}

.ritual-result {
	display: block;
	height: 350px;
}