<dh-sub-pane title="basics">
	
	<dh-zone-example>
		
		<p>
			In a hurry, how do I get a simple "Hello, World!" module working?
		</p>
		
		<span>{{"World" | greet}}</span>
		
		<dh-zone-note>
			<span>Important things to notice:</span>
			<ul>
				<li>The Module API</li>
				<li>The directive <span class="inlineTag">ng-app</span> will refer to the module that will be used to bootstrap the application.</li>
				<li>The empty array after the module name in the module declaration will list all the other modules in which the declared module depends on.</li>
			</ul>
		</dh-zone-note>
		
	</dh-zone-example>
	
</dh-sub-pane>