<dh-sub-pane title="recommended setup">
	
	<dh-zone-example>
		
		<p>To create an scalable architecture for your application, it is recommended that you break up your application to multiple modules like this:</p>
		
		<ul>
			<li>A module for each feature.</li>
			<li>A module for each reusable component (specially directives and filters)</li>
			<li>An application level module which depends on the above modules and contains anty initialization code.</li>
		</ul>
		
		<dh-zone-warning>
			<span>The above is a suggestion. Tailor it to your needs.</span>
		</dh-zone-warning>
		
	</dh-zone-example>
	
</dh-sub-pane>