<dh-sub-pane title="data model">
	
	<dh-zone-example>
		<dh-zone-note>
			<p>Scope is the glue between the application controller and the view.</p>
			<p>Directives set up $watch expressions on the scope during the linking phase which allows them to get notified of property changes and triggers a re-rendering of values in the DOM.</p>
			<p>Scope and directives have references to the scope but not to each other - a critical build to allow easier testing of controllers as they are view agnostic.</p>
		
		</dh-zone-note>
		
		<div class="io-bar">
			<label>"Hello" as sung by </label>
			<button ng-click="setVideo('adele')">Adele</button>
			<button ng-click="setVideo('dragonette')">Martin Solveig & Dragonette</button>
			<button ng-click="setVideo('lionel')">Lionel Richie</button>
			<button>A drunk's kidney</button>
		</div>
		
		
		<!-- This gets rendered 13 times ! -->
		<div class="flex-container-center" ng-if="videoChosen">
			
			<iframe class="flex-item-center video-frame" width="560" height="315" src="{{getVideoLink()}}" frameborder="0" allowfullscreen></iframe>
		</div>
	
	</dh-zone-example>


</dh-sub-pane>