<dh-sub-pane title="definition">
	
	<dh-zone-example>
		<dh-zone-note>
			<p>Scope refers to the application model and provides a context of execution for expressions.</p>
			<p>Provides $watch to observe model mutations and $apply to propagate changes into the view that are made outside of the Angular realm</p>
			<p>Scopes can be nested as (a) child scope that inherits properties from its parent scope and (b) isolate scope that does not.</p>
		</dh-zone-note>
	</dh-zone-example>
	
</dh-sub-pane>