dh-zone {
  border: 5px #820002 solid;
  display: block;
  margin-top: 15px; }
  dh-zone .zone-header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px;
    background: white;
    color: #820002;
    font-family: "Racing Sans One", cursive;
    font-size: 30px;
    height: 60px; }
  dh-zone .zone-header:after {
    content: "";
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    border-bottom: 5px #820002 solid;
    width: calc(100% - 30px); }
  dh-zone .zone-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 15px;
    background: white;
    font-family: "Ubuntu", sans-serif;
    font-size: 105%;
    line-height: 145%;
    color: white; }
    dh-zone .zone-body .code {
      font-family: "Source Code Pro", sans-serif;
      background: #DE8585;
      padding: 15px; }
    dh-zone .zone-body span.inlineTag {
      display: inline;
      font-family: "Source Code Pro", sans-serif;
      background: #DE8585; }
    dh-zone .zone-body .highlightTerm {
      display: inline;
      background: #820002;
      color: white;
      padding: 3.75px 7.5px; }
    dh-zone .zone-body .toast {
      background: black; }

.zone-body dh-zone-example {
  margin: 7.5px 0; }

.zone-body dh-zone-example:first-child {
  margin-top: 0; }

.zone-body dh-zone-example:last-child {
  margin-bottom: 0; }

.zone-body dh-zone-example:only-child {
  margin: 0; }

dh-zone-example {
  background: #D1343A;
  padding: 15px;
  border: solid 2.5px black; }

dh-zone-example > div p:nth-child(n) {
  display: block;
  margin: 15px 0; }

dh-zone-example > div p:first-child {
  display: block;
  margin-top: 0;
  margin-bottom: 15px; }

dh-zone-example > div p:last-child {
  display: block;
  margin-top: 15px;
  margin-bottom: 0; }

dh-zone-example > div p:only-child {
  display: block;
  margin: 0; }

dh-zone-example > div span:nth-child(n) {
  display: block;
  margin: 15px 0; }

dh-zone-example > div span:first-child {
  display: block;
  margin-top: 0;
  margin-bottom: 15px; }

dh-zone-example > div span:last-child {
  display: block;
  margin-top: 15px;
  margin-bottom: 0; }

dh-zone-example > div span:only-child {
  display: block;
  margin: 0; }

dh-zone-example > div input.sentence-input {
  height: 40px;
  margin: 15px 0;
  padding: 0 15px;
  outline: none; }

dh-zone-example > div hr {
  border: inset 1.25px #820002; }

dh-zone-note {
  display: block;
  padding: 15px;
  background: #DE8585;
  color: black;
  border: solid 2.5px black; }

dh-zone-note > div p:nth-child(n) {
  display: block;
  margin: 15px 0; }

dh-zone-note > div p:first-child {
  display: block;
  margin-top: 0;
  margin-bottom: 15px; }

dh-zone-note > div p:last-child {
  display: block;
  margin-top: 15px;
  margin-bottom: 0; }

dh-zone-note > div p:only-child {
  display: block;
  margin: 0; }

dh-zone-note > div span:nth-child(n) {
  display: block;
  margin: 15px 0; }

dh-zone-note > div span:first-child {
  display: block;
  margin-top: 0;
  margin-bottom: 15px; }

dh-zone-note > div span:last-child {
  display: block;
  margin-top: 15px;
  margin-bottom: 0; }

dh-zone-note > div span:only-child {
  display: block;
  margin: 0; }

dh-zone-example dh-zone-note:nth-child(n) {
  margin: 15px 0; }

dh-zone-example dh-zone-note:first-child {
  margin: 0 0 15px; }

dh-zone-example dh-zone-note:last-child {
  margin: 15px 0 0; }

dh-zone-example dh-zone-note:only-child {
  margin: 0; }

dh-zone-warning {
  display: block;
  padding: 15px;
  background: white;
  border: solid 2.5px black;
  color: black; }

dh-zone-warning > div p:nth-child(n) {
  display: block;
  margin: 15px 0; }

dh-zone-warning > div p:first-child {
  display: block;
  margin-top: 0;
  margin-bottom: 15px; }

dh-zone-warning > div p:last-child {
  display: block;
  margin-top: 15px;
  margin-bottom: 0; }

dh-zone-warning > div p:only-child {
  display: block;
  margin: 0; }

dh-zone-warning > div span:nth-child(n) {
  display: block;
  margin: 15px 0; }

dh-zone-warning > div span:first-child {
  display: block;
  margin-top: 0;
  margin-bottom: 15px; }

dh-zone-warning > div span:last-child {
  display: block;
  margin-top: 15px;
  margin-bottom: 0; }

dh-zone-warning > div span:only-child {
  display: block;
  margin: 0; }

dh-zone-example dh-zone-warning:nth-child(n) {
  margin: 15px 0; }

dh-zone-example dh-zone-warning:first-child {
  margin: 0 0 15px; }

dh-zone-example dh-zone-warning:last-child {
  margin: 15px 0 0; }

dh-zone-example dh-zone-warning:only-child {
  margin: 0; }
